body{
  background-color:#2c3e50;
}
nav{
  background:#0082e6;
  height:80px;
  width: 100%;
 
}
label.logo{
  color:white;
  font-size:35px;
  line-height:70px;
  font-weight:bold;
 
}

nav ul li{
  
  display:inline-block;
  line-height:50px;
  
}
nav ul li a{
  color:white;
  font-size: 17px;
  padding:7px 13px;
  border-radius: 13px;
  text-transform: uppercase;
 margin-right: 80px;

}
a.active,a:hover{
  background:skyblue;
  transition:.5s;
  
}
#check{
  display: none;
  
}
@media(max-width:952px){
label.logo{
  font-size:30px;
  padding-left: 50px;
  
}
  
  ul{
    position: fixed;
    width:100%;
    height: 100vh;
    background:#2c3e50;
    text-align: center;
  } 
  
  nav ul li{
    display: block;
    margin:60px ;
    line-height: 20px;

  }
  nav ul li a{
    font-size: 30px;
    font-style: italic;
    
  }
  a:hover ,a.active{
    
    background:skyblue;
    transition:.5s;
   
  }
}
